# 2014年 読んだ漫画の面白かった66

## 漫画
2014年もたくさん読みました。一言コメントなどを

{{#books}}
### {{title}}

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/{{id}}/ledsun-22/ref=nosim/" rel="nofollow" ><img src="http://images-jp.amazon.com/images/P/{{id}}.09.jpg" style="border: none;" alt="{{title}}" /></a>

{{comment}}

{{/books}}

## おまけ
この記事を書くために作ったスクリプト。[afi-blog](https://github.com/ledsun/afi-blog)
