# 2014年で読んだ漫画の面白かったやつ

{{#books}}
## {{title}}

<a href="http://www.amazon.co.jp/exec/obidos/ASIN/{{id}}/ledsun-22/ref=nosim/" rel="nofollow" ><img src="http://images-jp.amazon.com/images/P/{{id}}.09.jpg" style="border: none;" alt="{{title}}" /></a>

{{comment}}

{{/books}}
